LLM_API_BASE=http://localhost:12434/engines/v1
LLM_MODEL=hf.co/unsloth/Qwen3.5-2B-GGUF
EMBEDDING_MODEL=hf.co/unsloth/Qwen3-Embedding-0.6B
ST_MODEL=sentence-transformers/all-MiniLM-L6-v2
EMBEDDING_DIM=
OPENAI_API_KEY=docker-model-runner
RAG_WORKING_DIR=/var/home/YOUR_USER/.rag_storage
